body { background-color: #999999; }

#wrapper {
  margin: 1em auto;
  padding: 0;
  width: 960px;
  border: 4px solid blue;
  background-color: #ffffff;
  display: grid;
  grid-template-columns: repeat(6, 1fr);
}
header {
  grid-column: span 6;
  background-color: blue;
  background-image: linear-gradient(to bottom, #136ef6, #165fe4, #1651d2, #1543c0, #1335ae);
  padding: 10px;
  font-family: Helvetica, Arial, sans-serif;
}

nav {
  grid-column: span 6;
  font-family: Helvetica, Arial, sans-serif;
}

nav ul {
  list-style-type: none;
  margin: 0;
}

nav li {
  display: inline-block;
  padding: 0px;
  margin: 0px;
  color: blue;
  font-weight: bold;
}

nav li a {
  display:block;
  background-color: blue;
  background-image: linear-gradient(to bottom, #136ef6, #165fe4, #1651d2, #1543c0, #1335ae);
  padding: 10px;
  width: 200px;
  color: lightblue;
  text-decoration: none;
}
nav li a:hover {
  background-color: blue;
  background-image: none;
}

main {
  grid-column: span 6;
  margin-left: 16px;
  margin-right: 16px;
  font-weight: bold;
  text-align: justify;
  font-family: Helvetica, Arial, sans-serif;
}
main h2 {
  margin-top: 8px;
  padding-top: 8px;
}

aside {
  grid-column: span 6;
  padding: 0 16px;
  font-family: Helvetica, Arial, sans-serif;
}

footer {
  background-color: Red;
  grid-column: span 6;
  border-top: 4px solid blue;
}
.floatimg {
  float:left;
  border: 4px solid blue;
  margin-right: 5px;
}
.floatimg2 {
  float:right;
  border: 4px solid blue;
  margin-left: 5px;
}
.floatimg3 {
  border: 4px solid blue;
  margin-right:5px;
}
h2 {
  color: blue;
  border-bottom: 4px solid blue;
  font-weight: normal;
}
aside a {
  color: red;
  text-decoration: none;
}
aside a:hover {
  color: blue;
  text-decoration: underline;
}
h1 a {
  color: lightblue;
  font-style: italic;
  text-decoration: none;
}
h1 a:hover {
  color: red;
}
