.Poison {
  background-color: #00f0ff;
  margin: 10px 10px 10px 10px;
}
h2 {
  color:blue;
}
.Doctor {
  color: orange;
}
h3 {
  background: yellow;
}
.Redboi{
  color:red;
}
h4 {
  color:yellow;
  background:green
}
.Greenie {
  background: #2ccf00;
}
h5 {
  color:red;
  background: yellow;
}
.brightboi {
  background: yellow;
}
