body {
  font-family: sans-serif;

}
h1 {
  color: orange;
  background: black;
  text-align: center;
  font-style: italic;
  font-weight: normal;
}
h3 {
  color: orange;
  font-style: italic;
  font-weight: normal;
}
.Classes {
  color:Black;
  background: red;
  text-align: center;
}
a {
  color: red;
}
a:hover {
  color: yellow;
}
a:visited {
  color:green;
}
h2 {
  color:orange;
  font-style: italic;
  font-weight: normal;
}
.Core {
  color: orange;
  background: black;
  text-align: center;
  font-style: italic;
  font-weight: normal;
}
.Extra {
  color: white;
  background: black;
}
#Requirements {
  color:Red;
}
.center {
  text-align: center;
}
h4 {
  color:orange;
  font-style: italic;
  font-weight: normal;
}
h5 {
  color:orange;
  font-style: italic;
  font-weight: normal;
}
h6 {
  color:orange;
  font-style: italic;
  font-weight: normal;
}
.img {
border: 10px solid black;
padding: 10px 10px 10px 10px;
margin: 20px 20px 20px 20px;
background-color: white;
}
body {
background-color: grey;
background-image: url(ISUlogo2.png);
background-repeat: no-repeat;
background-position:  top right;
}
