h1 {
  color: red;
  background: black;
  text-align: center;
}
h3 {
  color: Red;
}
.Classes {
  color:Black;
  background: red;
  text-align: center;
}
a {
  color: red;
}
a:hover {
  color: yellow;
}
a:visited {
  color:green;
}
h2 {
  color:red;
}
.Core {
  color: yellow;
  background: black;
  text-align: center;
}
.Extra {
  color: white;
  background: black;
}
#Requirements {
  color:Red;
}
